@media (min-width: 1024px) and (max-width: 1050){
  :root {
    --width: 900px;
    --big-width: 1024px;
    --hr-width: 100%;
  }

  /* Showcase */

  #showtext h1 {
    font-size: 4rem;
  }
  
  #showtext h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 1.8rem 0 2.5rem;
  }

  #showcase #showimg img {
    background-color: #000;
    background-size: cover;
    scale: 0.7;
    width: 23rem;
    border-radius: 1rem;
    transform: skew(15deg) rotate(15deg);
    position: absolute;
    top: -5rem;
    right: -6rem;
  }
  
  #showcase #showimg #trans1 {
    padding: 11rem 7rem;
    border-radius: 1rem;
    background-color: #c4c7cafb;
    z-index: 1;
    transform: skew(15deg) rotate(15deg);
    position: absolute;
    top: 3rem;
    right: 4rem;
  }
  
  #showcase #showimg #trans2 {
    padding: 11rem 7rem;
    border-radius: 1rem;
    background-color: #f0f3f7ec;
    z-index: 2;
    transform: skew(15deg) rotate(15deg);
    position: absolute;
    top: 7rem;
    right: 10rem;
  }

  /* Trustees */
  #trustees img {
    margin-right: 6.3rem;
  }

  /* Section Future */
  #connect {
    background-image: url('../pics/connect.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -55px 0px;
    width: var(--width);
    border-radius: 1rem;
    padding: 5rem 3.8rem 9.3rem;
    margin-bottom: 1rem;
  }

  #directpay {
    background-image: url('../pics/directpay.jpg');
    width: 49%;
    height: 630px;
    background-repeat: no-repeat;
    background-size: 140%;
    border-radius: 1rem;
    background-position: -160px -4rem;
    padding: 3.5rem;
  }

  #percept {
    background-image: url('../pics/percept.png');
    color: #fff;
    width: 49%;
    height: 630px;
    background-repeat: no-repeat;
    background-size: 130%;
    border-radius: 1rem;
    background-position: -3rem 0px;
    padding: 3.5rem;
  }

  /* Carbons */
  #carbons > div > h3 {
    font-size: 36px;
    margin: 20px 0;
  }

  #carbon {
    margin-top: 5rem;
    padding: 3.8rem 3.8rem 0;
    background-color: #f5f5f5;
    border-radius: 1rem;
    width: var(--width);
  }

  #carbon #links {
    width: var(--width);
  }

  #links hr {
    max-width: 82%;
  }

  .carbonimg2 {
    position: absolute;
    top: -2.5rem;
    right: -5rem;
    background-color: #fff;
    padding: 35px;
    border-radius: 50%;
    scale: 1.1;
  }

  /* Section Market */
  #market h2 {
    font-size: 3rem;
  }

  #market > p {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 2rem;
  }

  #quotes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 94%;
    margin: auto;
  }

  .push {
    margin-top: 2.9rem;
  }

  .test {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 51px;
  }
  
  .quo {
    display: block;
    font-size: 6.5rem;
    font-style: italic;
    line-height: 2rem;
    padding-top: 44px;
  }

  /* Section Getting */
  #gettingstarted {
    background-image: url(../pics/getting-started-bg.jpg);
    padding: 150px;
    min-width: 100%;
  }

  #get1 {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: flex-end;
    align-content: flex-end;
    padding: 5rem 3rem 0;
    border-radius: 1rem;
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
    padding-bottom: 2rem;
  }
  
  #get1 #getting_img {
    scale: 1;
    width: 49%;
    height: 50%;
    position: absolute;
    right: 4.4rem;
    bottom: 5.6rem;
  }

  #get1 #api h2 {
    font-size: 42px;
    margin: 20px 0 35px;
    width: 60%;
  }

  #get2, #get3, #get4 {
    width: 32%;
    background-color: #fff;
    border-radius: 1rem;
    padding: 50px;
  }
  
  #get2 h2, #get3 h2, #get4 h2 {
    font-size: 30px;
    margin: 20px 0 30px;
  }
  
  #get2 a, #get3 a, #get4 a {
    text-decoration: none;
    color: #0055BA;
    font-size: 16px;
  }

  /* Section Footer */
    footer {
    background-color: #000;
    min-width: 100%;
    color: #fff;
    padding: 200px 145px 100px;
  }

  footer hr {
    width: var(--hr-width);
    margin: auto;
  }

  footer #container {
    width: var(--width);
    margin: auto;
    padding: 0px 145px 100px;
  }

  #start_building {
    color: #fff;
    text-align: center;
    margin: auto;
    /* margin-left: 0; */
    padding: auto;
    width: 70%;
  }

  #start_building h1 {
    font-size: 56px;
    margin-bottom: 15px;
  }
  
  #start_building > p {
    font-size: 22px;
    line-height: 1.8rem;
    width: fit-content;
    margin-bottom: 3.5rem;
  }
  
  #start_building div .btn_blue {
    margin-right: 15px;
  }
  
  #start_building div .btn_black {
    background-color: #202020;
    color: #fff;
  }
} 

@media screen and (max-width: 1023px) {
  :root {
    --width: 90%;
    --big-width: 1023px;
    --font-size-1: 15px;
  }

  .body {
    padding: 0 15px;
  }

  /* Utility classes */
  .btn_blue {
    font-size: var(--font-size-1);
    padding:  0.8rem 1.25rem;
    background-color: #0055BA;
    border-radius: 0.6rem;
    color: #fff;
  }

  .btn_black {
    font-size: var(--font-size-1);
    padding:  0.8rem 1.25rem;
    background-color: #f5f5f5;
    border-radius: 0.6rem;
    color: #000;
  }

  /* Navbar */
  #navbar {
    display: flex;
  }

  #navbar ul, #navbar .btn_blue{
    display: none;
  }

  /* Showcase */
  #showcase {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 5.5rem 0 6rem;
    width: 100%;
  }

  #showtext {
    max-width: 70%;
    display: block;
  }

  #showtext  .intro {
    display: block;
    font-size: 16px;
    background-color: #f5f5f5;
    padding: 12px;
    border-radius: 2rem;
    margin-bottom: 1.5rem;
    text-align: left;
    width: fit-content;
  }

  #showtext h1 {
    font-size: 4.2rem;
    text-align: left;
  }
  
  #showtext h3 {
    font-size: 1.3rem;
    font-weight: normal;
    text-align: left;
    margin: 1.8rem 0 2.5rem;
  }

  #showimg {
    display: none;
  }

  #showtext p a {
    display: inline-block;
    text-align: left;
    margin: 0.8rem 0;
    width: fit-content;
  }

  /* Trustees */
    #trustees {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
  }

  #trustees img {
    margin: 0 2rem 1.5rem 0;
    scale: 1;
  }

  /* Future */
  #build {
    width: var(--width);
    margin-left: -7rem;
  }

  #future {
    margin-top: 3.5rem;
    width: 75%;
  }
  
  #future h2 {
  font-size: 31px;
  margin: 1.8rem 1rem 1.3rem;
  }
  
  #future h3 {
    font-size: 20px;
    font-weight: 100;
    margin: 1rem 1rem 5rem;
    width: 100%;
  }

  #services {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 1rem;
    width: 100%;
  }

  #connect {
    background-image: url('../pics/connect.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -20rem 0rem;
    width: 100%;
    border-radius: 1rem;
    padding: 2rem 1.5rem 6rem;
    margin: 0 auto 1rem;
    height: 560px;
  }

  #connect h2 {
    color: #fff;
    margin: 0.5rem 0 0.8rem;
    font-size: 24px;
  }
  
  #connect p {
    font-size: 16px;
    width: 80%;
    color: #fff;
    margin: 1.5rem 0 2.5rem;
  }
  
  #connect a {
    margin-top: 2rem;
    padding: 15px 20px;
    background-color: #fff;
    color: #0055BA;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }

  #directpay {
    background-image: url('../pics/directpay.jpg');
    width: 48%;
    height: 560px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    background-position: -3rem 0rem;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
  }
  
  #directpay h2 {
    color: #000;
    margin: 0.5rem 0 0.8rem;
    font-size: 24px;
  }
  
  #directpay p {
    font-size: 15px;
    width: 90%;
    color: #000;
    margin-bottom: 2.5rem;
  }
  
  #directpay a {
    margin-top: 2rem;
    padding: 15px 20px;
    background-color: #0055BA;
    color: #fff ;
    border-radius: 0.6rem;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }

  #directpay a + div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    margin-top: 1.5rem;
    background-color: #EBF5FFBF;
    border-radius: 40px;
    padding: 10px 20px;
  }

  #directpay div .p {
    font-size: 15px;
  }
  
  #directpay div .payimg {
    scale: 0.7;
    padding-top: 0.5rem;
    margin-left: -0.5rem;
  }

  #percept {
    background-image: url('../pics/percept.png');
    color: #fff;
    width: 48%;
    height: 560px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    background-position: 0% -0rem;
    padding: 2rem 1.5rem;
  }

  #percept a {
    margin-top: 2rem;
    padding: 15px 20px;
    background-color: #202020ee;
    color: #fff;
    border-radius: 0.6rem;
    text-decoration: none;
  }

  /* Section Businesses */
  #business {
    margin-top: 150px;
  }
  
  #businesses {
    width: 95%;
    margin: auto;
    padding: 0 15px;
  }

  #businesses .subhead {
    font-size: 32px;
  }

  #businesses .subtxt {
    font-size: 19px;
    font-weight: 100;
    margin-top: 20px;
  }

  #carbon {
    margin: 4rem auto 0;
    width: 90%;
    padding: 2rem 1rem 0;
    background-color: #f5f5f5;
    border-radius: 1rem;
  }
  
  #carbon #links {
    width: 100%;
  }
  
  #carbon #links ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 5px 2.5rem 5px 2px;
    width: 85%;
    overflow-y: auto;
  }
  
  #carbon #links ul li {
    width: max-content;
    padding: 5px 10px;
    margin-left: 0;
    font-size: 15px;
    font-weight: bold;
  }

  #carbon #links ul li:first-child {
    background-color: #000;
    color: #fff;
    border-radius: 40px;
    margin: 0;
    padding: 0.8rem 1.3rem;
  }

  #carbons {
    margin-top: 2rem;
    height: 910px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  #carbons > div {
    width: 95%;
  }

  #carbons > div > h3 {
    font-size: 26px;
    margin: 20px 0;
  }
  
  #carbons > div > p {
    font-size: 17px;
    color: #606060;
    line-height: 1.4rem;
    margin: 20px 0 35px;
  }
  
  #carbons > div > a {
    color: #0055BA;
    font-weight: bold;
    font-size: 15px; 
  }

  #carbonimg {
    display: flex;
    position: relative;
  }

  .carbonimg1 {
    scale: 1;
  }

  .carbonimg2 {
    position: absolute;
    top: -3rem;
    left: 19rem;
    background-color: #fff;
    padding: 35px;
    border-radius: 50%;
    scale: 1;
  }

  /* Section Market */
  #market {
    padding: 100px 0;
  }

  #market > h2, #market > p {
    width: 95%;
  }

  #market h2 {
    font-size: 2rem;
  }

  #market > p {
    font-size: 18px;
    margin-top: 30px;
  }
  
  #quotes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: auto;
  }
  
  #float {
    background-color: #f5f5f5;
    width: 48%;
    border-radius: 1rem;
    padding: 55px 15px 40px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .test {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  
  .quo {
    display: block;
    font-size: 4rem;
    font-style: italic;
    line-height: 1.5rem;
    padding-top: 15px;
  }
  
  .push {
    margin-top: 1.9rem;
  }

  .push2 {
    margin-top: auto;
  }
  
  .details {
    padding: 15px;
  }
  
  .name {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .title {
    font-size: 13px;
    color: #606060;
  }

  /* Section Getting */
  #gettingstarted {
    background-image: url(../pics/getting-started-bg.jpg);
    padding: 90px 50px;
    width: 122%;
  }

  #gettingstarted > h2 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 2.5rem;
  }
  
  #getting {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  #get1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    align-content: center;
    padding: 2rem 1rem 0 0;
    border-radius: 1rem;
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  #api {
    display: flex;
    flex-direction: column;
    padding-bottom: 96px;
    width: 90%;
    margin: auto auto 6.5rem;
  }
  
  #get1 #api img {
    margin: 0 auto 25px;
    width: 20%;
  }

  #get1 #api h2 {
    font-size: 32px;
    width: 100%;
    text-align: center;
    margin: 0px 0 35px;
  }
  
  #get1 #api a {
    font-size: 16px;
    font-weight: bold;
    color: #0055BA;
    text-decoration: none;
    text-align: center;
    margin-bottom: 12rem;
  }
  
  #get1 #getting_img {
    scale: 0.9;
    width: 50.5%;
    height: 50%;
    position: absolute;
    right: 15.9rem;
    bottom: 0.2rem;
  }

  #get2, #get3, #get4 {
    display: flex;
    flex-flow: column nowrap;
    background-color: #fff;
    border-radius: 1rem;
    padding: 50px 50px;
    margin-bottom: 1.5rem;
    width: 32%;
  }

  #get2 img, #get3 img, #get4 img {
    width: 21%;
    margin: 0 auto;
  }
  
  #get2 h2, #get3 h2, #get4 h2 {
    font-size: 30px;
    text-align: center;
    margin: 15px 0 30px;
  }
  
  #get2 a, #get3 a, #get4 a {
    text-decoration: none;
    color: #0055BA;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
  }

  /* Section Footer */
  footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: #000;
    width: 122%;
    color: #fff;
    padding: 110px 80px 10px;
  }

  footer #container {
    width: var(--width);
    margin: auto;
    padding: 0px 40px 60px;
  }

  #start_building {
    color: #fff;
    text-align: center;
    width: 66%;
    margin: 2rem auto;
  }

  #start_building h1 {
    font-size: 40px;
    margin-bottom: 15px;
  }
  
  #start_building > p {
    font-size: 20px;
    line-height: 1.8rem;
    width: 100%;
    margin-bottom: 4rem;
  }
  
  #start_building div .btn_blue {
    margin-right: 15px;
  }
  
  #start_building div .btn_black {
    background-color: #202020;
    color: #fff;
  }

  #con2 {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(1, auto);
    row-gap: 2.5rem;
    justify-content: space-between;
    width: 100%;
    padding: 3rem 0;
  }

  #con2 .linksss li  {
    font-size: 14px;
    font-weight: 100;
    margin-top: 20px;
    width: 100%;
  }
  

  #fin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding-top: 26px;
    margin-bottom: 5rem;
  }

  #fin p > #monofin {
    display: row;
    margin-left: 30px;
  }
}

@media screen and (max-width: 770px) {
  :root {
    --width: 650px;
    --big-width: 770px;
    --font-size-1: 15px;
  }

  .body {
    padding: 0 15px;
  }

  /* Utility classes */
  .btn_blue {
    font-size: var(--font-size-1);
    padding:  0.8rem 1.25rem;
    background-color: #0055BA;
    border-radius: 0.6rem;
    color: #fff;
  }

  .btn_black {
    font-size: var(--font-size-1);
    padding:  0.8rem 1.25rem;
    background-color: #f5f5f5;
    border-radius: 0.6rem;
    color: #000;
  }

  /* Navbar */
  #navbar {
    display: flex;
  }

  #navbar ul, #navbar .btn_blue{
    display: none;
  }

  /* Showcase */
  #showcase {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 5.5rem 0;
    position: relative;
  }

  #showtext {
  max-width: 70%;
}

  #showtext  .intro {
    display: block;
    font-size: 16px;
    background-color: #f5f5f5;
    padding: 12px;
    border-radius: 2rem;
    margin-bottom: 1.5rem;
    text-align: left;
    width: fit-content;
  }

  #showtext h1 {
    font-size: 2.5rem;
    text-align: left;
  }
  
  #showtext h3 {
    font-size: 1.1rem;
    font-weight: normal;
    text-align: left;
    margin: 1.8rem 0 2.5rem;
  }

  #showimg {
    display: none;
  }

  #showtext p a {
    display: inline-block;
    text-align: left;
    margin: 0.8rem 0;
    width: fit-content;
  }

  /* Trustees */
    #trustees {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
  }

  #trustees img {
    margin: 0 2rem 1.5rem 0;
    scale: 0.8;
  }

  /* Future */
  #future {
    margin-top: 3.5rem;
    width: 90%;
  }
  
  #future h2 {
  font-size: 31px;
  margin: 1.8rem 1rem 1.3rem 4.3rem;
  }
  
  #future h3 {
    font-size: 18px;
    font-weight: 100;
    margin: 1rem 1rem 5rem 4.3rem;
    width: auto;
  }

  #services {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 1rem;
  }

  #connect {
    background-image: url('../pics/connect.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -30rem 0rem;
    width: 93%;
    border-radius: 1rem;
    padding: 2rem 1.5rem 6rem;
    margin: 0 0 1rem 3.5rem;
    height: 560px;
  }

  #connect h2 {
    color: #fff;
    margin: 0.5rem 0 0.8rem;
    font-size: 24px;
  }
  
  #connect p {
    font-size: 16px;
    width: 80%;
    color: #fff;
    margin: 1.5rem 0 2.5rem;
  }
  
  #connect a {
    margin-top: 2rem;
    padding: 15px 20px;
    background-color: #fff;
    color: #0055BA;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }

  #directpay {
    background-image: url('../pics/directpay.jpg');
    width: 93%;
    height: 560px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    background-position: 0 -11rem;
    padding: 1rem 1.5rem;
    margin: 0 0 1rem 3.5rem;
  }
  
  #directpay h2 {
    color: #000;
    margin: 0.5rem 0 0.8rem;
    font-size: 24px;
  }
  
  #directpay p {
    font-size: 15px;
    width: 90%;
    color: #000;
    margin-bottom: 2.5rem;
  }
  
  #directpay a {
    margin-top: 2rem;
    padding: 15px 20px;
    background-color: #0055BA;
    color: #fff ;
    border-radius: 0.6rem;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }

  #directpay a + div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    margin-top: 1.5rem;
    background-color: #EBF5FFBF;
    border-radius: 40px;
    padding: 10px 20px;
  }

  #directpay div .p {
    font-size: 15px;
  }
  
  #directpay div .payimg {
    scale: 0.7;
    padding-top: 0.5rem;
    margin-left: -0.5rem;
  }

  #percept {
    background-image: url('../pics/percept.png');
    color: #fff;
    width: 93%;
    height: 560px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    background-position: 0% -8rem;
    padding: 2rem 1.5rem;
    margin: 0 0 1rem 3.5rem;
  }

  #percept a {
    margin-top: 2rem;
    padding: 15px 20px;
    background-color: #202020ee;
    color: #fff;
    border-radius: 0.6rem;
    text-decoration: none;
  }

  /* Section Businesses */
  #business {
    margin-top: 150px;
  }
  
  #businesses {
    width: 95%;
    margin: auto;
    padding: 0 15px;
  }

  #businesses .subhead {
    font-size: 32px;
  }

  #businesses .subtxt {
    font-size: 19px;
    font-weight: 100;
    margin-top: 20px;
  }

  #carbon {
    margin: 4rem auto 0;
    width: 90%;
    padding: 2rem 1rem 0;
    background-color: #f5f5f5;
    border-radius: 1rem;
  }
  
  #carbon #links {
    width: 100%;
  }
  
  #carbon #links ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 5px 2.5rem 5px 2px;
    width: 85%;
    overflow-y: auto;
  }
  
  #carbon #links ul li {
    width: max-content;
    padding: 5px 10px;
    margin-left: 0;
    font-size: 15px;
    font-weight: bold;
  }

  #carbon #links ul li:first-child {
    background-color: #000;
    color: #fff;
    border-radius: 40px;
    margin: 0;
    padding: 0.8rem 1.3rem;
  }

  #carbons {
    margin-top: 2rem;
    height: 910px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  #carbons > div {
    width: 95%;
  }

  #carbons > div > h3 {
    font-size: 26px;
    margin: 20px 0;
  }
  
  #carbons > div > p {
    font-size: 17px;
    color: #606060;
    line-height: 1.4rem;
    margin: 20px 0 35px;
  }
  
  #carbons > div > a {
    color: #0055BA;
    font-weight: bold;
    font-size: 15px; 
  }

  #carbonimg {
    position: relative;
  }

  .carbonimg1 {
    scale: 1;
  }

  .carbonimg2 {
    position: absolute;
    top: -3rem;
    left: 19rem;
    background-color: #fff;
    padding: 35px;
    border-radius: 50%;
    scale: 1;
  }

  /* Section Market */
  #market {
    padding: 100px 0;
  }

  #market > h2, #market > p {
    width: 95%;
  }

  #market h2 {
    font-size: 2rem;
  }

  #market > p {
    font-size: 18px;
    margin-top: 30px;
  }
  
  #quotes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }
  
  #float {
    background-color: #f5f5f5;
    width: 48%;
    border-radius: 1rem;
    padding: 55px 15px 40px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .test {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  
  .quo {
    display: block;
    font-size: 4rem;
    font-style: italic;
    line-height: 1.5rem;
    padding-top: 15px;
  }
  
  .push {
    margin-top: 1.9rem;
  }
  
  .details {
    padding: 15px;
  }
  
  .name {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .title {
    font-size: 13px;
    color: #606060;
  }

  /* Section Getting */
  #gettingstarted {
    background-image: url(../pics/getting-started-bg.jpg);
    padding: 90px 50px;
    width: 770px;
  }

  #gettingstarted > h2 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 2.5rem;
  }
  
  #getting {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  #get1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    align-content: center;
    padding: 2rem 1rem 0 0;
    border-radius: 1rem;
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  #api {
    display: flex;
    flex-direction: column;
    padding-bottom: 96px;
    width: 90%;
    margin: auto auto 6.5rem;
  }
  
  #get1 #api img {
    margin: 0 auto 25px;
    width: 20%;
  }

  #get1 #api h2 {
    font-size: 32px;
    width: 100%;
    text-align: center;
    margin: 0px 0 35px;
  }
  
  #get1 #api a {
    font-size: 16px;
    font-weight: bold;
    color: #0055BA;
    text-decoration: none;
    text-align: center;
    margin-bottom: 12rem;
  }
  
  #get1 #getting_img {
    scale: 0.9;
    width: 50.5%;
    height: 50%;
    position: absolute;
    right: 15.9rem;
    bottom: 0.4rem;
  }

  #get2, #get3, #get4 {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1rem;
    padding: 50px 50px;
    margin-bottom: 1.5rem;
    width: 100%;
  }

  #get2 img, #get3 img, #get4 img {
    width: 21%;
    margin: 0 auto;
  }
  
  #get2 h2, #get3 h2, #get4 h2 {
    font-size: 30px;
    text-align: center;
    margin: 15px 0 30px;
  }
  
  #get2 a, #get3 a, #get4 a {
    text-decoration: none;
    color: #0055BA;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
  }

  /* Section Footer */
  footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: #000;
    width: var(--big-width);
    color: #fff;
    padding: 100px 80px 10px;
  }

  footer #container {
    width: var(--width);
    margin: auto;
    padding: 0px 40px 60px;
  }

  footer hr {
    width: 100%;
  }

  #start_building {
    color: #fff;
    text-align: center;
    width: 100%;
    margin: 2rem 0;
  }

  #start_building h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  
  #start_building > p {
    font-size: 15px;
    line-height: 1.3rem;
    width: 100%;
    margin-bottom: 4rem;
  }
  
  #start_building div .btn_blue {
    margin-right: 15px;
  }
  
  #start_building div .btn_black {
    background-color: #202020;
    color: #fff;
  }

  #con2 {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(1, auto);
    row-gap: 2.5rem;
    justify-content: space-between;
    width: 100%;
    padding: 3rem 0;
  }

  #con2 .linksss li  {
    font-size: 14px;
    font-weight: 100;
    margin-top: 20px;
    width: 100%;
  }
  

  #fin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 26px;
    margin-bottom: 5rem;
  }

  #fin p > #monofin {
    display: block;
    margin: 30px 0 20px;
  }
}

@media screen and (max-width: 690px){
  :root {
    --width: 620px;
    --big-width: 700px;
    --font-size-1: 13px;
  }

  .body {
    padding: 0 15px;
  }

  /* Utility classes */
  .btn_blue {
    font-size: var(--font-size-1);
    padding:  0.8rem 1.25rem;
    background-color: #0055BA;
    border-radius: 0.6rem;
    color: #fff;
  }

  .btn_black {
    font-size: var(--font-size-1);
    padding:  0.8rem 1.25rem;
    background-color: #f5f5f5;
    border-radius: 0.6rem;
    color: #000;
  }

  /* Navbar */
  #navbar {
    display: flex;
  }

  #navbar ul, #navbar .btn_blue{
    display: none;
  }

  /* Showcase */
  #showcase {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 5.5rem 0;
    position: relative;
  }

  #showtext {
  max-width: 70%;
}

  #showtext  .intro {
    display: block;
    font-size: 16px;
    background-color: #f5f5f5;
    padding: 12px;
    border-radius: 2rem;
    margin-bottom: 1.5rem;
    text-align: left;
    width: fit-content;
  }

  #showtext h1 {
    font-size: 2.5rem;
    text-align: left;
  }
  
  #showtext h3 {
    font-size: 1.1rem;
    font-weight: normal;
    text-align: left;
    margin: 1.8rem 0 2.5rem;
  }

  #showimg {
    display: none;
  }

  #showtext p a {
    display: inline-block;
    text-align: left;
    margin: 0.8rem 0;
    width: fit-content;
  }

  /* Trustees */
    #trustees {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
  }

  #trustees img {
    margin: 0 0rem 1rem 0;
  }

  /* Future */
  #future {
    margin-top: 3.5rem;
    width: 90%;
  }
  
  #future h2 {
  font-size: 2.3rem;
  margin: 1.8rem 1rem 1.3rem 4.2rem;
  }
  
  #future h3 {
    font-size: 17px;
    font-weight: 100;
    margin: 1rem 1rem 5rem 4.3rem;
    width: auto;
  }

  #services {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 1rem;
  }

  #connect {
    background-image: url('../pics/connect.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -25rem 0rem;
    width: 93%;
    border-radius: 1rem;
    padding: 2rem 1.5rem 6rem;
    margin: 0 0 1rem 3.3rem;
    height: 500px;
  }

  #connect h2 {
    color: #fff;
    margin: 0.5rem 0 0.8rem;
    font-size: 24px;
  }
  
  #connect p {
    font-size: 16px;
    width: 80%;
    color: #fff;
    margin: 1.5rem 0 2.5rem;
  }
  
  #connect a {
    margin-top: 2rem;
    padding: 15px 20px;
    background-color: #fff;
    color: #0055BA;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }

  #directpay {
    background-image: url('../pics/directpay.jpg');
    width: 93%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    background-position: 0 -1rem;
    padding: 1rem 1.5rem;
    margin: 0 0 1rem 3.3rem;
  }
  
  #directpay h2 {
    color: #000;
    margin: 0.5rem 0 0.8rem;
    font-size: 24px;
  }
  
  #directpay p {
    font-size: 15px;
    width: 90%;
    color: #000;
    margin-bottom: 2.5rem;
  }
  
  #directpay a {
    margin-top: 2rem;
    padding: 15px 20px;
    background-color: #0055BA;
    color: #fff ;
    border-radius: 0.6rem;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }

  #directpay a + div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    margin-top: 1.5rem;
    background-color: #EBF5FFBF;
    border-radius: 40px;
    padding: 10px 20px;
  }

  #directpay div .p {
    font-size: 15px;
  }
  
  #directpay div .payimg {
    scale: 0.7;
    padding-top: 0.5rem;
    margin-left: -0.5rem;
  }

  #percept {
    background-image: url('../pics/percept.png');
    color: #fff;
    width: 93%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    background-position: 0% 0rem;
    padding: 2rem 1.5rem;
    margin: 0 0 1rem 3.3rem;

  }

  #percept a {
    margin-top: 2rem;
    padding: 15px 20px;
    background-color: #202020ee;
    color: #fff;
    border-radius: 0.6rem;
    text-decoration: none;
  }

  /* Section Businesses */
  #business {
    margin-top: 100px;
  }
  
  #businesses {
    width: 95%;
    margin: auto;
    padding: 0 15px;
  }

  #businesses .subhead {
    font-size: 30px;
  }

  #businesses .subtxt {
    font-size: 16px;
    font-weight: 100;
    margin-top: 20px;
  }

  #carbon {
    margin: 4rem auto 0;
    width: 85%;
    padding: 2rem 1rem 0;
    background-color: #f5f5f5;
    border-radius: 1rem;
  }
  
  #carbon #links {
    width: 100%;
  }
  
  #carbon #links ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 5px 2.5rem 5px 2px;
    width: 85%;
    overflow-y: auto;
  }
  
  #carbon #links ul li {
    width: max-content;
    padding: 5px 10px;
    margin-left: 0;
    font-size: 15px;
    font-weight: bold;
  }

  #carbon #links ul li:first-child {
    background-color: #000;
    color: #fff;
    border-radius: 40px;
    margin: 0;
    padding: 0.8rem 1.3rem;
  }

  #carbons {
    margin-top: 2rem;
    height: 910px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  #carbons > div {
    width: 95%;
  }

  #carbons > div > h3 {
    font-size: 26px;
    margin: 20px 0;
  }
  
  #carbons > div > p {
    font-size: 17px;
    color: #606060;
    line-height: 1.4rem;
    margin: 20px 0 35px;
  }
  
  #carbons > div > a {
    color: #0055BA;
    font-weight: bold;
    font-size: 15px; 
  }

  #carbonimg {
    position: relative;
  }

  .carbonimg1 {
    scale: 1;
  }

  .carbonimg2 {
    position: absolute;
    top: -3rem;
    left: 19rem;
    background-color: #fff;
    padding: 35px;
    border-radius: 50%;
    scale: 1;
  }

  /* Section Market */
  #market {
    padding: 100px 0;
  }

  #market > h2, #market > p {
    width: 95%;
  }

  #market h2 {
    font-size: 2.9rem;
  }

  #market > p {
    font-size: 20px;
    margin-top: 30px;
  }
  
  #quotes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100;
    margin: auto;
  }
  
  #float {
    background-color: #f5f5f5;
    width: 48%;
    border-radius: 1rem;
    padding: 55px 15px 40px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .test {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  
  .quo {
    display: block;
    font-size: 5rem;
    font-style: italic;
    line-height: 1.5rem;
    padding-top: 15px;
  }
  
  .push {
    margin-top: 5rem;
  }
  
  .details {
    padding: 15px;
  }
  
  .name {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .title {
    font-size: 13px;
    color: #606060;
  }

  /* Section Getting */
  #gettingstarted {
    background-image: url(../pics/getting-started-bg.jpg);
    padding: 90px 50px;
    width: var(--big-width);
  }

  #gettingstarted > h2 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 2.5rem;
  }
  
  #getting {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  #get1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    align-content: center;
    padding: 2rem 1rem 0 0;
    border-radius: 1rem;
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  #api {
    display: flex;
    flex-direction: column;
    padding-bottom: 96px;
    width: 90%;
    margin: auto auto 6.5rem;
  }
  
  #get1 #api img {
    margin: 0 auto 25px;
    width: 20%;
  }

  #get1 #api h2 {
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin: 0px 0 35px;
  }
  
  #get1 #api a {
    font-size: 16px;
    font-weight: bold;
    color: #0055BA;
    text-decoration: none;
    text-align: center;
    margin-bottom: 12rem;
  }
  
  #get1 #getting_img {
    scale: 0.9;
    width: 50.5%;
    height: 50%;
    position: absolute;
    right: 15.9rem;
    bottom: 0.9rem;
  }

  #get2, #get3, #get4 {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1rem;
    padding: 50px 50px;
    margin-bottom: 1.5rem;
    width: 100%;
  }

  #get2 img, #get3 img, #get4 img {
    width: 21%;
    margin: 0 auto;
  }
  
  #get2 h2, #get3 h2, #get4 h2 {
    font-size: 30px;
    text-align: center;
    margin: 15px 0 30px;
  }
  
  #get2 a, #get3 a, #get4 a {
    text-decoration: none;
    color: #0055BA;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
  }

  /* Section Footer */
  footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: #000;
    width: var(--big-width);
    color: #fff;
    padding: 100px 80px 10px;
  }

  footer #container {
    width: var(--width);
    margin: auto;
    padding: 0px 40px 60px;
  }

  footer hr {
    width: 100%;
  }

  #start_building {
    color: #fff;
    text-align: center;
    width: 100%;
    margin: 2rem 0;
  }

  #start_building h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  
  #start_building > p {
    font-size: 15px;
    line-height: 1.3rem;
    width: 100%;
    margin-bottom: 4rem;
  }
  
  #start_building div .btn_blue {
    margin-right: 15px;
  }
  
  #start_building div .btn_black {
    background-color: #202020;
    color: #fff;
  }

  #con2 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 2.5rem;
    justify-content: space-between;
    width: 100%;
    padding: 3rem 0;
  }

  #con2 .linksss li  {
    font-size: 14px;
    font-weight: 100;
    margin-top: 15px;
    width: 100%;
  }

  #fin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 26px;
  }

  #fin p > #monofin {
    display: block;
    margin: 10px 0 0px;
  }
}

@media screen and (max-width: 640px){
  :root {
    --width: 540px;
    --big-width: 640px;
    --font-size-1: 13px;
  }

  .body {
    padding: 0 15px;
  }

  /* Utility classes */
  .btn_blue {
    font-size: var(--font-size-1);
    padding:  0.8rem 1.25rem;
    background-color: #0055BA;
    border-radius: 0.6rem;
    color: #fff;
  }

  .btn_black {
    font-size: var(--font-size-1);
    padding:  0.8rem 1.25rem;
    background-color: #f5f5f5;
    border-radius: 0.6rem;
    color: #000;
  }

  /* Navbar */
  #navbar {
    display: flex;
  }

  #navbar ul, #navbar .btn_blue{
    display: none;
  }

  /* Showcase */
  #showcase {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 5.5rem 0;
    position: relative;
  }

  #showtext {
  max-width: 80%;
}

  #showtext  .intro {
    display: block;
    font-size: 16px;
    background-color: #f5f5f5;
    padding: 12px;
    border-radius: 2rem;
    margin-bottom: 1.5rem;
    text-align: left;
    width: fit-content;
  }

  #showtext h1 {
    font-size: 2.5rem;
    text-align: left;
  }
  
  #showtext h3 {
    font-size: 1.1rem;
    font-weight: normal;
    text-align: left;
    margin: 1.8rem 0 2.5rem;
  }

  #showimg {
    display: none;
  }

  #showtext p a {
    display: inline-block;
    text-align: left;
    margin: 0.8rem 0;
    width: fit-content;
  }

  /* Trustees */
    #trustees {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
  }

  #trustees img {
    margin: 0 0rem 1rem 0;
  }

  /* Future */
  #future {
    margin-top: 3.5rem;
    width: 100%;
  }
  
  #future h2 {
  font-size: 2.1rem;
  margin: 1.8rem 1rem 1.3rem 4.7rem;
  }
  
  #future h3 {
    font-size: 1.3rem;
    font-weight: 100;
    margin: 1rem 1rem 3.5rem 4.7rem;
    width: auto;
  }

  #services {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 1rem;
  }

  #connect {
    background-image: url('../pics/connect.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -32rem 0rem;
    width: 90%;
    border-radius: 1rem;
    padding: 2rem 1.5rem 6rem;
    margin: 0 0 1rem 3.8rem;
    height: 500px;
  }

  #connect h2 {
    color: #fff;
    margin: 0.5rem 0 0.8rem;
    font-size: 24px;
  }
  
  #connect p {
    font-size: 16px;
    width: 80%;
    color: #fff;
    margin: 1.5rem 0 2.5rem;
  }
  
  #connect a {
    margin-top: 2rem;
    padding: 15px 20px;
    background-color: #fff;
    color: #0055BA;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }

  #directpay {
    background-image: url('../pics/directpay.jpg');
    width: 90%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    background-position: 0 -1rem;
    padding: 1rem 1.5rem;
    margin: 0 0 1rem 3.8rem;
  }
  
  #directpay h2 {
    color: #000;
    margin: 0.5rem 0 0.8rem;
    font-size: 24px;
  }
  
  #directpay p {
    font-size: 15px;
    width: 90%;
    color: #000;
    margin-bottom: 2.5rem;
  }
  
  #directpay a {
    margin-top: 2rem;
    padding: 15px 20px;
    background-color: #0055BA;
    color: #fff ;
    border-radius: 0.6rem;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }

  #directpay a + div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    margin-top: 1.5rem;
    background-color: #EBF5FFBF;
    border-radius: 40px;
    padding: 10px 20px;
  }

  #directpay div .p {
    font-size: 15px;
  }
  
  #directpay div .payimg {
    scale: 0.7;
    padding-top: 0.5rem;
    margin-left: -0.5rem;
  }

  #percept {
    background-image: url('../pics/percept.png');
    color: #fff;
    width: 90%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    background-position: 0% 0rem;
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
    margin: 0 0 1rem 3.8rem;

  }

  #percept a {
    margin-top: 2rem;
    padding: 15px 20px;
    background-color: #202020ee;
    color: #fff;
    border-radius: 0.6rem;
    text-decoration: none;
  }

  /* Section Businesses */
  #business {
    margin-top: 100px;
  }
  
  #businesses {
    width: 95%;
    margin: auto;
    padding: 0 15px;
  }

  #businesses .subhead {
    font-size: 30px;
  }

  #businesses .subtxt {
    font-size: 16px;
    font-weight: 100;
    margin-top: 20px;
  }

  #carbon {
    margin-top: 4rem;
    padding: 2rem 1rem 0;
    background-color: #f5f5f5;
    border-radius: 1rem;
  }
  
  #carbon #links {
    width: var(--width);
  }
  
  #carbon #links ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 5px 2.5rem 5px 2px;
    width: 85%;
    overflow-y: auto;
  }
  
  #carbon #links ul li {
    width: max-content;
    padding: 5px 10px;
    margin-left: 0;
    font-size: 15px;
    font-weight: bold;
  }

  #carbon #links ul li:first-child {
    background-color: #000;
    color: #fff;
    border-radius: 40px;
    margin: 0;
    padding: 0.8rem 1.3rem;
  }

  #carbons {
    margin-top: 2rem;
    height: 910px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  #carbons > div {
    width: 95%;
  }

  #carbons > div > h3 {
    font-size: 26px;
    margin: 20px 0;
  }
  
  #carbons > div > p {
    font-size: 17px;
    color: #606060;
    line-height: 1.4rem;
    margin: 20px 0 35px;
  }
  
  #carbons > div > a {
    color: #0055BA;
    font-weight: bold;
    font-size: 15px; 
  }

  #carbonimg {
    position: relative;
  }

  .carbonimg1 {
    scale: 1;
  }

  .carbonimg2 {
    position: absolute;
    top: -3rem;
    left: 19rem;
    background-color: #fff;
    padding: 35px;
    border-radius: 50%;
    scale: 1;
  }

  /* Section Market */
  #market {
    padding: 100px 0;
  }

  #market > h2, #market > p {
    width: 95%;
  }

  #market h2 {
    font-size: 30px;
  }

  #market > p {
    font-size: 17px;
    margin-top: 30px;
  }
  
  #quotes {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  
  #float {
    background-color: #f5f5f5;
    width: 100%;
    border-radius: 1rem;
    padding: 55px 35px 40px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .test {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  .quo {
    display: block;
    font-size: 4rem;
    font-style: italic;
    line-height: 1.5rem;
    padding-top: 15px;
  }
  
  .push {
    margin-top: 0px;
  }
  
  .details {
    padding: 15px;
  }
  
  .name {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .title {
    font-size: 13px;
    color: #606060;
  }

  /* Section Getting */
  #gettingstarted {
    background-image: url(../pics/getting-started-bg.jpg);
    padding: 90px 50px;
    width: var(--big-width);
  }

  #gettingstarted > h2 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 2.5rem;
  }
  
  #getting {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  #get1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    align-content: center;
    padding: 2rem 1rem 0 0;
    border-radius: 1rem;
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  #api {
    display: flex;
    flex-direction: column;
    padding-bottom: 96px;
    width: 90%;
    margin: auto auto 6.5rem;
  }
  
  #get1 #api img {
    margin: 0 auto 25px;
    width: 20%;
  }

  #get1 #api h2 {
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin: 0px 0 35px;
  }
  
  #get1 #api a {
    font-size: 16px;
    font-weight: bold;
    color: #0055BA;
    text-decoration: none;
    text-align: center;
    margin-bottom: 8rem;
  }
  
  #get1 #getting_img {
    scale: 0.8;
    width: 50.5%;
    height: 50%;
    position: absolute;
    right: 14.7rem;
    bottom: 1.7rem;
  }

  #get2, #get3, #get4 {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1rem;
    padding: 50px 50px;
    margin-bottom: 1.5rem;
    width: 100%;
  }

  #get2 img, #get3 img, #get4 img {
    width: 20%;
    margin: 0 auto;
  }
  
  #get2 h2, #get3 h2, #get4 h2 {
    font-size: 20px;
    text-align: center;
    margin: 10px 0 25px;
  }
  
  #get2 a, #get3 a, #get4 a {
    text-decoration: none;
    color: #0055BA;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
  }

  /* Section Footer */
  footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: #000;
    width: var(--big-width);
    color: #fff;
    padding: 100px 40px 10px;
  }

  footer #container {
    width: var(--width);
    margin: auto;
    padding: 0px 40px 60px;
  }

  #start_building {
    color: #fff;
    text-align: center;
    width: 100%;
    margin: 2rem 0;
  }

  #start_building h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  
  #start_building > p {
    font-size: 15px;
    line-height: 1.3rem;
    width: 100%;
    margin-bottom: 4rem;
  }
  
  #start_building div .btn_blue {
    margin-right: 15px;
  }
  
  #start_building div .btn_black {
    background-color: #202020;
    color: #fff;
  }

  #con2 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 2.5rem;
    justify-content: space-between;
    width: 100%;
    padding: 3rem 0;
  }

  #con2 .linksss li  {
    font-size: 14px;
    font-weight: 100;
    margin-top: 15px;
    width: 100%;
  }

  #fin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 26px;
  }

  #fin p > #monofin {
    display: block;
    margin: 10px 0 0px;
  }
}

@media screen and (max-width: 550px){
  :root {
    --width: 480px;
    --big-width: 555px;
    --font-size-1: 13px;
  }

  .body {
    padding: 0 15px;
  }

  /* Utility classes */
  .btn_blue {
    font-size: var(--font-size-1);
    padding:  0.8rem 1.25rem;
    background-color: #0055BA;
    border-radius: 0.6rem;
    color: #fff;
  }

  .btn_black {
    font-size: var(--font-size-1);
    padding:  0.8rem 1.25rem;
    background-color: #f5f5f5;
    border-radius: 0.6rem;
    color: #000;
  }

  /* Navbar */
  #navbar {
    display: flex;
  }

  #navbar ul, #navbar .btn_blue{
    display: none;
  }

  /* Showcase */
  #showcase {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 5.5rem 0;
    position: relative;
  }

  #showtext {
  max-width: 90%;
}

  #showtext  .intro {
    display: block;
    font-size: 16px;
    background-color: #f5f5f5;
    padding: 12px;
    border-radius: 2rem;
    margin-bottom: 1.5rem;
    text-align: left;
    width: fit-content;
  }

  #showtext h1 {
    font-size: 2.5rem;
    text-align: left;
  }
  
  #showtext h3 {
    font-size: 1.1rem;
    font-weight: normal;
    text-align: left;
    margin: 1.8rem 0 2.5rem;
  }

  #showimg {
    display: none;
  }

  #showtext p a {
    display: flex;
    flex-wrap: nowrap;
    margin: 0.8rem 0;
    width: fit-content;
  }

  /* Trustees */
    #trustees {
    display: flex;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
  }

  #trustees img {
    margin: 0 0rem 1rem 0;
  }

  /* Future */
  #future {
    margin-top: 3.5rem auto;
    width: 100%;
  }
  
  #future h2 {
  font-size: 2.1rem;
  margin: 1.8rem 1rem 1.3rem 4.7rem;
  }
  
  #future h3 {
    font-size: 1.3rem;
    font-weight: 100;
    margin: 1rem 1rem 3.5rem 4.7rem;
    width: auto;
  }

  #services {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 1rem;
  }

  #connect {
    background-image: url('../pics/connect.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -33rem 0rem;
    width: 100%;
    border-radius: 1rem;
    padding: 2rem 1.5rem 6rem;
    margin: 0 0 1rem 3.5rem;
    height: 500px;
  }

  #connect h2 {
    color: #fff;
    margin: 0.5rem 0 0.8rem;
    font-size: 24px;
  }
  
  #connect p {
    font-size: 16px;
    width: 80%;
    color: #fff;
    margin: 1.5rem 0 2.5rem;
  }
  
  #connect a {
    margin-top: 2rem;
    padding: 15px 20px;
    background-color: #fff;
    color: #0055BA;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }

  #directpay {
    background-image: url('../pics/directpay.jpg');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    background-position: 0 -1rem;
    padding: 1rem 1.5rem;
    margin: 0 0 1rem 3.5rem;
  }
  
  #directpay h2 {
    color: #000;
    margin: 0.5rem 0 0.8rem;
    font-size: 24px;
  }
  
  #directpay p {
    font-size: 15px;
    width: 90%;
    color: #000;
    margin-bottom: 2.5rem;
  }
  
  #directpay a {
    margin-top: 2rem;
    padding: 15px 20px;
    background-color: #0055BA;
    color: #fff ;
    border-radius: 0.6rem;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }

  #directpay a + div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    margin-top: 1.5rem;
    background-color: #EBF5FFBF;
    border-radius: 40px;
    padding: 10px 20px;
  }

  #directpay div .p {
    font-size: 15px;
  }
  
  #directpay div .payimg {
    scale: 0.7;
    padding-top: 0.5rem;
    margin-left: -0.5rem;
  }

  #percept {
    background-image: url('../pics/percept.png');
    color: #fff;
    width: 100%;
    height: 500px;
    margin: 0 0 1rem 3.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    background-position: 0% 0rem;
    padding: 2rem 1.5rem;
  }

  #percept a {
    margin-top: 2rem;
    padding: 15px 20px;
    background-color: #202020ee;
    color: #fff;
    border-radius: 0.6rem;
    text-decoration: none;
  }

  /* Section Businesses */
  #business {
    margin-top: 100px;
    margin-left: 1rem;
  }
  
  #businesses {
    width: 80%;
    padding: 0 15px;
  }

  #businesses .subhead {
    font-size: 30px;
    margin-left: 0rem;
  }

  #businesses .subtxt {
    font-size: 16px;
    font-weight: 100;
    margin-top: 20px;
    margin-left: 0rem;

  }

  #carbon {
    margin-top: 4rem;
    padding: 2rem 1rem 0;
    background-color: #f5f5f5;
    border-radius: 1rem;
    width: 90%;
  }

  #carbon #links {
    width: var(--width);
  }
  
  #carbon #links ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 5px 2.5rem 5px 2px;
    width: 85%;
    overflow-y: auto;
  }
  
  #carbon #links ul li {
    width: max-content;
    padding: 5px 10px;
    margin-left: 0;
    font-size: 15px;
    font-weight: bold;
  }

  #carbon #links ul li:first-child {
    background-color: #000;
    color: #fff;
    border-radius: 40px;
    margin: 0;
    padding: 0.8rem 1.3rem;
  }

  #carbon #links hr {
    width: 83%;
  }

  #carbons {
    margin-top: 2rem;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  #carbons > div {
    width: 95%;
  }

  #carbons > div > h3 {
    font-size: 24px;
    margin: 20px 0;
  }
  
  #carbons > div > p {
    font-size: 17px;
    color: #606060;
    line-height: 1.4rem;
    margin: 20px 0 35px;
  }
  
  #carbons > div > a {
    color: #0055BA;
    font-weight: bold;
    font-size: 15px; 
  }

  #carbonimg {
    position: relative;
  }

  .carbonimg1 {
    scale: 1;
  }

  .carbonimg2 {
    position: absolute;
    top: -3rem;
    left: 19rem;
    background-color: #fff;
    padding: 35px;
    border-radius: 50%;
    scale: 0.9;
  }

  /* Section Market */
  #market {
    padding: 100px 0;
    margin-left: 1.2rem;
  }

  #market > h2, #market > p {
    width: 95%;
  }

  #market h2 {
    font-size: 30px;
  }

  #market > p {
    font-size: 17px;
    margin-top: 30px;
  }
  
  #quotes {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  
  #float {
    background-color: #f5f5f5;
    width: 100%;
    border-radius: 1rem;
    padding: 55px 35px 40px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .test {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  .quo {
    display: block;
    font-size: 4rem;
    font-style: italic;
    line-height: 1.5rem;
    padding-top: 15px;
  }
  
  .push {
    margin-top: 0px;
  }
  
  .details {
    padding: 15px;
  }
  
  .name {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .title {
    font-size: 13px;
    color: #606060;
  }

  /* Section Getting */
  #gettingstarted {
    background-image: url(../pics/getting-started-bg.jpg);
    padding: 90px 50px;
    width: var(--big-width);
  }

  #gettingstarted > h2 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 2.5rem;
  }
  
  #getting {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  #get1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    align-content: center;
    padding: 2rem 1rem 0 0;
    border-radius: 1rem;
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  #api {
    display: flex;
    flex-direction: column;
    padding-bottom: 96px;
    width: 90%;
    margin: auto auto 6.5rem;
  }
  
  #get1 #api img {
    margin: 0 auto 25px;
    width: 20%;
  }

  #get1 #api h2 {
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin: 0px 0 35px;
  }
  
  #get1 #api a {
    font-size: 16px;
    font-weight: bold;
    color: #0055BA;
    text-decoration: none;
    text-align: center;
    margin-bottom: 5rem;
  }
  
  #get1 #getting_img {
    scale: 0.6;
    width: 50.5%;
    height: 50%;
    position: absolute;
    right: 12.4rem;
    bottom: 0.7rem;
  }

  #get1, #get2, #get3, #get4 {
    margin-left: 0.8rem;
  }

  #get2, #get3, #get4 {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1rem;
    padding: 50px 50px;
    margin-bottom: 1.5rem;
    width: 100%;
  }

  #get2 img, #get3 img, #get4 img {
    width: 20%;
    margin: 0 auto;
  }
  
  #get2 h2, #get3 h2, #get4 h2 {
    font-size: 20px;
    text-align: center;
    margin: 10px 0 25px;
  }
  
  #get2 a, #get3 a, #get4 a {
    text-decoration: none;
    color: #0055BA;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
  }

  /* Section Footer */
  footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: #000;
    width: var(--big-width);
    color: #fff;
    padding: 100px 40px 10px;
  }

  footer #container {
    width: var(--width);
    margin: auto;
    padding: 0px 40px 60px;
  }

  #start_building {
    color: #fff;
    text-align: center;
    width: 100%;
    margin: 2rem 0;
  }

  #start_building h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  
  #start_building > p {
    font-size: 15px;
    line-height: 1.3rem;
    width: 100%;
    margin-bottom: 4rem;
  }
  
  #start_building div .btn_blue {
    margin-right: 15px;
  }
  
  #start_building div .btn_black {
    background-color: #202020;
    color: #fff;
  }

  #con2 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 2.5rem;
    justify-content: space-between;
    width: 100%;
    padding: 3rem 0;
    margin-left: 1rem;
  }

  #con2 .linksss li  {
    font-size: 14px;
    font-weight: 100;
    margin-top: 15px;
    width: 100%;
  }

  #fin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 26px;
  }

  #fin p > #monofin {
    display: block;
    margin: 10px 0 0px;
  }
}