@media screen and (max-width: 1050px) {
  :root {
    --width: 900px;
    --big-width: 1050px;
    --hr-width: 100%;
  }

  /* Showcase */
  #showcase #showimg img {
    background-color: #000;
    background-size: cover;
    scale: 0.7;
    width: 23rem;
    border-radius: 1rem;
    transform: skew(15deg) rotate(15deg);
    position: absolute;
    top: -5rem;
    right: -6rem;
  }
  
  #showcase #showimg #trans1 {
    padding: 11rem 7rem;
    border-radius: 1rem;
    background-color: #c4c7cafb;
    z-index: 1;
    transform: skew(15deg) rotate(15deg);
    position: absolute;
    top: 3rem;
    right: 4rem;
  }
  
  #showcase #showimg #trans2 {
    padding: 11rem 7rem;
    border-radius: 1rem;
    background-color: #f0f3f7ec;
    z-index: 2;
    transform: skew(15deg) rotate(15deg);
    position: absolute;
    top: 7rem;
    right: 10rem;
  }

  /* Trustees */
  #trustees img {
    margin-right: 6.3rem;
  }

  /* Section Future */
  #connect {
    background-image: url('../pics/connect.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -55px 0px;
    width: var(--width);
    border-radius: 1rem;
    padding: 5rem 3.8rem 9.3rem;
    margin-bottom: 1rem;
  }

  #directpay {
    background-image: url('../pics/directpay.jpg');
    width: 49%;
    height: 630px;
    background-repeat: no-repeat;
    background-size: 140%;
    border-radius: 1rem;
    background-position: -160px -4rem;
    padding: 3.5rem;
  }

  #percept {
    background-image: url('../pics/percept.png');
    color: #fff;
    width: 49%;
    height: 630px;
    background-repeat: no-repeat;
    background-size: 130%;
    border-radius: 1rem;
    background-position: -3rem 0px;
    padding: 3.5rem;
  }

  /* Carbons */
  #carbons > div > h3 {
    font-size: 36px;
    margin: 20px 0;
  }

  #carbon {
    margin-top: 5rem;
    padding: 3.8rem 3.8rem 0;
    background-color: #f5f5f5;
    border-radius: 1rem;
    width: var(--width);
  }

  #carbon #links {
    width: var(--width);
  }

  #links hr {
    max-width: 82%;
  }

  .carbonimg2 {
    position: absolute;
    top: -2.5rem;
    right: -5rem;
    background-color: #fff;
    padding: 35px;
    border-radius: 50%;
    scale: 1.1;
  }

  /* Section Market */
  #market > p {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 2rem;
  }

  #quotes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 94%;
    margin: auto;
  }

  .push {
    margin-top: 2.9rem;
  }

  .test {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 51px;
  }
  
  .quo {
    display: block;
    font-size: 6.5rem;
    font-style: italic;
    line-height: 2rem;
    padding-top: 44px;
  }

  /* Section Getting */
  #gettingstarted {
    background-image: url(../pics/getting-started-bg.jpg);
    padding: 150px;
    width: var(--big-width);
  }

  #get1 {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: flex-end;
    align-content: flex-end;
    padding: 5rem 3rem 0;
    border-radius: 1rem;
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
    padding-bottom: 2rem;
  }
  
  #get1 #getting_img {
    scale: 0.6;
    width: 50.5%;
    height: 50%;
    position: absolute;
    right: 4.4rem;
    bottom: 4.1rem;
  }

  #get1 #api h2 {
    font-size: 37px;
    margin: 20px 0 35px;
    width: 50%;
  }

  #get2, #get3, #get4 {
    width: 32%;
    background-color: #fff;
    border-radius: 1rem;
    padding: 50px;
  }
  
  #get2 h2, #get3 h2, #get4 h2 {
    font-size: 30px;
    margin: 20px 0 30px;
  }
  
  #get2 a, #get3 a, #get4 a {
    text-decoration: none;
    color: #0055BA;
    font-size: 16px;
  }

  /* Section Footer */
    footer {
    background-color: #000;
    width: var(--big-width);
    color: #fff;
    padding: 200px 145px 100px;
  }

  footer hr {
    width: var(--hr-width);
    margin: auto;
  }

  footer #container {
    width: var(--width);
    margin: auto;
    padding: 0px 145px 100px;
  }

  #start_building {
    color: #fff;
    text-align: center;
    margin: auto;
    margin-left: 0;
    padding: auto;
    width: 70%;
  }

  #start_building h1 {
    font-size: 56px;
    margin-bottom: 15px;
  }
  
  #start_building > p {
    font-size: 22px;
    line-height: 1.8rem;
    width: fit-content;
    margin-bottom: 3.5rem;
  }
  
  #start_building div .btn_blue {
    margin-right: 15px;
  }
  
  #start_building div .btn_black {
    background-color: #202020;
    color: #fff;
  }
} 

@media (max-width: 900px) and (min-width: 769px) {
  :root {
    --width: 750px;
    --big-width: 900px;
    --hr-width: 100%;
  }
  
  /* Showcase */
  #showcase #showimg img {
    background-color: #000;
    background-size: cover;
    scale: 0.7;
    width: 23rem;
    border-radius: 1rem;
    transform: skew(15deg) rotate(15deg);
    position: absolute;
    top: -5rem;
    right: -6rem;
  }
  
  #showcase #showimg #trans1 {
    padding: 11rem 7rem;
    border-radius: 1rem;
    background-color: #c4c7cafb;
    z-index: 1;
    transform: skew(15deg) rotate(15deg);
    position: absolute;
    top: 3rem;
    right: 4rem;
  }
  
  #showcase #showimg #trans2 {
    padding: 11rem 7rem;
    border-radius: 1rem;
    background-color: #f0f3f7ec;
    z-index: 2;
    transform: skew(15deg) rotate(15deg);
    position: absolute;
    top: 7rem;
    right: 10rem;
  }

  /* Trustees */
  #trustees img {
    margin-right: 4.3rem;
  }

  /* Section Future */
  #connect {
    background-image: url('../pics/connect.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -10rem 0px;
    width: var(--width);
    border-radius: 1rem;
    padding: 5rem 3.8rem 9.3rem;
    margin-bottom: 1rem;
  }

  #directpay {
    background-image: url('../pics/directpay.jpg');
    width: 49%;
    height: 630px;
    background-repeat: no-repeat;
    background-size: 140%;
    border-radius: 1rem;
    background-position: -160px -4rem;
    padding: 3.5rem;
  }

  #percept {
    background-image: url('../pics/percept.png');
    color: #fff;
    width: 49%;
    height: 630px;
    background-repeat: no-repeat;
    background-size: 130%;
    border-radius: 1rem;
    background-position: -3rem 0px;
    padding: 3.5rem;
  }

  /* Carbons */
  #carbons > div > h3 {
    font-size: 36px;
    margin: 20px 0;
  }

  #carbon {
    margin-top: 5rem;
    padding: 3.8rem 3.8rem 0;
    background-color: #f5f5f5;
    border-radius: 1rem;
    width: var(--width);
    height: 610px;
  }

  #carbon #links {
    width: var(--width);
  }

  #links hr {
    max-width: 82%;
  }

  #carbons {
    margin-top: 1rem;
  }

  .carbonimg1 {
    scale: 0.8;
  }

  .carbonimg2 {
    position: absolute;
    top: 1.3rem;
    right: -4.7rem;
    background-color: #fff;
    padding: 35px;
    border-radius: 50%;
    scale: 0.7;
  }

  /* Section Market */
  #market > p {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 2rem;
  }

  #quotes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 94%;
    margin: auto;
  }

  .push {
    margin-top: 2.9rem;
  }

  .test {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 51px;
  }
  
  .quo {
    display: block;
    font-size: 6.5rem;
    font-style: italic;
    line-height: 2rem;
    padding-top: 44px;
  }

  /* Section Getting */
  #gettingstarted {
    background-image: url(../pics/getting-started-bg.jpg);
    padding: 150px;
    width: var(--big-width);
  }

  #get1 {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: flex-end;
    align-content: flex-end;
    padding: 5rem 3rem 3rem;
    border-radius: 1rem;
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  #get1 #getting_img {
    scale: 0.6;
    width: 50.5%;
    height: 50%;
    position: absolute;
    right: 6.5rem;
    bottom: 4.1rem;
  }

  #get1 #api {
    width: 60%;
  }

  #get1 #api h2 {
    font-size: 32px;
    margin: 20px 0 35px;
  }

  #get2, #get3, #get4 {
    width: 32%;
    background-color: #fff;
    border-radius: 1rem;
    padding: 50px 35px;
  }
  
  #get2 h2, #get3 h2, #get4 h2 {
    font-size: 22px;
    margin: 20px 0 30px;
  }

  #get2 h2, #get4 h2 {
    margin-bottom: 50px;
  }
  
  #get2 a, #get3 a, #get4 a {
    text-decoration: none;
    color: #0055BA;
    font-size: 16px;
  }

  /* Section Footer */
    footer {
    background-color: #000;
    width: var(--big-width);
    color: #fff;
    padding: 200px 145px 100px;
  }

  footer hr {
    width: var(--hr-width);
    margin: auto;
  }

  footer #container {
    width: var(--width);
    margin: auto;
    padding: 0px 145px 100px;
  }

  #start_building {
    color: #fff;
    text-align: center;
    margin: auto;
    margin-left: 0;
    padding: auto;
    width: 70%;
  }

  #start_building h1 {
    font-size: 56px;
    margin-bottom: 15px;
  }
  
  #start_building > p {
    font-size: 22px;
    line-height: 1.8rem;
    width: fit-content;
    margin-bottom: 3.5rem;
  }
  
  #start_building div .btn_blue {
    margin-right: 15px;
  }
  
  #start_building div .btn_black {
    background-color: #202020;
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --width: 710px;
    --big-width: 768px;
    --font-size-1: 15px;
  }

  /* Utility classes */
  .btn_blue {
    font-size: var(--font-size-1);
    padding:  0.8rem 1.25rem;
    background-color: #0055BA;
    border-radius: 0.6rem;
    color: #fff;
  }

  .btn_black {
    font-size: var(--font-size-1);
    padding:  0.8rem 1.25rem;
    background-color: #f5f5f5;
    border-radius: 0.6rem;
    color: #000;
  }

  /* Navbar */
  #navbar {
    display: flex;
  }

  #navbar ul, #navbar .btn_blue{
    display: none;
  }

  /* Showcase */
  #showcase {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 4rem 0;
    position: relative;
  }

  #showtext {
  max-width: 100%;
  text-align: center;
}

  #showtext  .intro {
    display: inline-block;
    font-size: 13px;
    background-color: #f5f5f5;
    padding: 9px 10px;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  #showtext h1 {
    font-size: 2.5rem;
  }

  #showtext h3 {
    font-size: 1rem;
    font-weight: normal;
    margin: 1.8rem 0 2.5rem;
  }

  #showimg {
    display: none;
  }

  /* Trustees */
    #trustees {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem;
  }

  #trustees img {
    margin: 0 1rem 1rem 0;
    scale: 0.9;
  }

  /* Future */
  #future {
    margin-top: 3.5rem;
    width: 90%;
  }
  
  #future h2 {
  font-size: 3.5rem;
  margin: 1.8rem 1.5rem 3.5rem;
  }
  
  #future h3 {
    font-size: 1.2rem;
    margin: 1.8rem 1.5rem 3.5rem;
    width: 60%;
  }

  #services {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 1rem;
  }

  #connect {
    background-image: url('../pics/connect.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -4rem 0rem;
    width: var(--width);
    border-radius: 1rem;
    padding: 3.5rem 3rem 6rem;
    margin-bottom: 1rem;
  }

  #connect h2 {
    color: #fff;
    margin: 0.5rem 0 0.8rem;
    font-size: 45px;
  }
  
  #connect p {
    font-size: 18px;
    width: 60%;
    color: #fff;
    margin-bottom: 2.5rem;
  }
  
  #connect a {
    margin-top: 2rem;
    padding: 15px 20px;
    background-color: #fff;
    color: #0055BA;
    border-radius: 1rem;
    text-decoration: none;
  }

  #directpay {
    background-image: url('../pics/directpay.jpg');
    width: 49%;
    height: 460px;
    background-repeat: no-repeat;
    background-size: 120%;
    border-radius: 1rem;
    background-position: 0% -2rem;
    padding: 3rem 2.5rem 3.5rem;
  }

  #directpay p {
    font-size: 18px;
    width: 90%;
    color: #000;
    margin-bottom: 4rem;
  }

  #directpay a + div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    margin-top: 1.5rem;
    background-color: #EBF5FFBF;
    border-radius: 40px;
    padding: 0px;
    width: 100%;
  }

  #directpay a + div > p {
    margin: 0;
    max-width: fit-content;
  }

  #directpay div .p {
    font-size: 13px;
  }
  
  #directpay div .payimg {
    scale: 0.5;
    padding-top: 0.7rem;
    margin-left: -1.7rem;
  }

  #percept {
    background-image: url('../pics/percept.png');
    color: #fff;
    width: 49%;
    height: 460px;
    background-repeat: no-repeat;
    background-size: 120%;
    border-radius: 1rem;
    background-position: 0% -2rem;
    padding: 3.5rem;
  }

  #percept a {
    margin-top: 2rem;
    padding: 15px 20px;
    background-color: #202020ee;
    color: #fff;
    border-radius: 0.6rem;
    text-decoration: none;
  }

  /* Section Businesses */
  #business {
    margin-top: 80px;
  }

  #businesses {
    width: 85%;
  }

  #businesses .subhead {
    font-size: 3.5rem;
  }

  #businesses .subtxt {
    font-size: 20px;
    margin-top: 20px;
  }

  #carbon {
    margin-top: 4rem;
    padding: 2rem 2rem 0;
    background-color: #f5f5f5;
    border-radius: 1rem;
  }
  
  #carbon #links {
    width: var(--width);
  }
  
  #carbon #links ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(1, auto);
    /* gap: 1rem; */
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 5px 2.5rem 5px 2px;
    width: 95%;
  }
  
  #carbon #links ul li {
    width: fit-content;
    padding: 5px 10px;
    margin-left: 0;
    font-size: 15px;
  }

  #carbons {
    margin-top: 1rem;
    height: 866px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #carbons > div {
    width: 95%;
  }

  #carbons > div > h3 {
    font-size: 32px;
    margin: 20px 0;
  }
  
  #carbons > div > p {
    font-size: 16px;
    line-height: 1.4rem;
    margin: 20px 0 35px;
  }
  
  #carbons > div > a {
    color: #0055BA;
    font-size: 16px; 
  }

  #carbonimg {
    position: relative;
  }

  .carbonimg1 {
    scale: 1.1;
  }

  .carbonimg2 {
    position: absolute;
    top: -4rem;
    right: -10rem;
    background-color: #fff;
    padding: 35px;
    border-radius: 50%;
    scale: 1.1;
  }

  /* Section Market */
  #market {
    padding: 100px 0;
  }

  #market > h2, #market > p {
    width: 95%;
  }

  #market h2 {
    font-size: 2.9rem;
  }

  #market > p {
    font-size: 20px;
    margin-top: 30px;
  }
  
  #quotes {
    display: flex;
    flex-direction: column;
    width: 88%;
    margin: auto;
  }
  
  #float {
    background-color: #f5f5f5;
    width: 100%;
    border-radius: 1rem;
    padding: 55px 35px 40px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .test {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  
  .quo {
    display: block;
    font-size: 5rem;
    font-style: italic;
    line-height: 1.5rem;
    padding-top: 15px;
  }
  
  .push {
    margin-top: 0px;
  }
  
  .details {
    padding: 15px;
  }
  
  .name {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .title {
    font-size: 13px;
    color: #606060;
  }

  /* Section Getting */
  #gettingstarted {
    background-image: url(../pics/getting-started-bg.jpg);
    padding: 90px 50px;
    width: var(--big-width);
  }

  #gettingstarted > h2 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 2.5rem;
  }
  
  #getting {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  #get1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    align-items: start;
    align-content: start;
    padding: 2rem 1.8rem 0 0;
    border-radius: 1rem;
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  #api {
    padding-bottom: 96px;
    width: 80%;
    margin: auto auto 0.5rem;
  }
  
  #get1 #api h2 {
    font-size: 32px;
    margin: 0px 0 15px;
    width: 50%;
  }
  
  #get1 #api a {
    font-size: 16px;
    color: #0055BA;
    text-decoration: none;
    margin-bottom: 5rem;
  }
  
  #get1 #getting_img {
    scale: 0.5;
    width: 50.5%;
    height: 50%;
    position: absolute;
    right: 4.4rem;
    bottom: 3.1rem;
  }

  #get2, #get3, #get4 {
    background-color: #fff;
    border-radius: 1rem;
    padding: 50px 50px;
    margin-bottom: 1.5rem;
  }

  #get2 h2, #get3 h2, #get4 h2 {
    font-size: 20px;
    margin: 10px 0 25px;
  }

  #get2 h2, #get4 h2  {
    margin-bottom: 50px;
  }
  
  #get2 a, #get3 a, #get4 a {
    text-decoration: none;
    color: #0055BA;
    font-size: 14px;
  }

  /* Section Footer */
  footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: #000;
    width: var(--big-width);
    color: #fff;
    padding: 100px 40px 10px;
  }

  footer #container {
    width: var(--width);
    margin: auto;
    padding: 0px 40px 60px;
  }

  #start_building {
    color: #fff;
    text-align: center;
    width: 100%;
  }

  #start_building h1 {
    font-size: 3rem;
    margin-bottom: 15px;
  }
  
  #start_building > p {
    font-size: 18px;
    line-height: 2rem;
    width: fit-content;
    margin-bottom: 4rem;
  }
  
  #start_building div .btn_blue {
    margin-right: 15px;
  }
  
  #start_building div .btn_black {
    background-color: #202020;
    color: #fff;
  }

  #con2 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 2.5rem;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 0;
  }

  #fin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
  }
}

@media screen and (max-width: 700px){
  :root {
    --width: 600px;
    --big-width: 700px;
    --font-size-1: 13px;
  }

  /* Utility classes */
  .btn_blue {
    font-size: var(--font-size-1);
    padding:  0.8rem 1.25rem;
    background-color: #0055BA;
    border-radius: 0.6rem;
    color: #fff;
  }

  .btn_black {
    font-size: var(--font-size-1);
    padding:  0.8rem 1.25rem;
    background-color: #f5f5f5;
    border-radius: 0.6rem;
    color: #000;
  }

  /* Navbar */
  #navbar {
    display: flex;
  }

  #navbar ul, #navbar .btn_blue{
    display: none;
  }

  /* Showcase */
  #showcase {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 4rem 0;
    position: relative;
  }

  #showtext {
  max-width: 100%;
}

  #showtext  .intro {
    display: inline-block;
    font-size: 13px;
    background-color: #f5f5f5;
    padding: 9px 10px;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  #showtext h1 {
    font-size: 2.5rem;
  }

  #showtext h3 {
    font-size: 1rem;
    font-weight: normal;
    margin: 1.8rem 0 2.5rem;
  }

  #showimg {
    display: none;
  }

  /* Trustees */
    #trustees {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
  }

  #trustees img {
    margin: 0 0rem 1rem ;
  }

  /* Future */
  #future {
    margin-top: 3.5rem;
    width: 90%;
  }
  
  #future h2 {
  font-size: 3rem;
  margin: 1.8rem 1.5rem 3.5rem;
  }
  
  #future h3 {
    font-size: 1.4rem;
    margin: 1.8rem 1.5rem 3.5rem;
  }

  #services {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 1rem;
  }

  #connect {
    background-image: url('../pics/connect.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -13rem 0rem;
    width: var(--width);
    border-radius: 1rem;
    padding: 3.5rem 3rem 6rem;
    margin-bottom: 1rem;
  }

  #connect h2 {
    color: #fff;
    margin: 0.5rem 0 0.8rem;
    font-size: 45px;
  }
  
  #connect p {
    font-size: 18px;
    width: 60%;
    color: #fff;
    margin-bottom: 2.5rem;
  }
  
  #connect a {
    margin-top: 2rem;
    padding: 15px 20px;
    background-color: #ffffffce;
    color: #0055BA;
    border-radius: 1rem;
    text-decoration: none;
  }

  #directpay {
    background-image: url('../pics/directpay.jpg');
    width: 100%;
    height: 460px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1rem;
    background-position: 0% -10rem;
    padding: 3.5rem;
    margin-bottom: 2rem;
  }
  
  #percept {
    background-image: url('../pics/percept.png');
    color: #fff;
    width: 100%;
    height: 460px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1rem;
    background-position: 0% -10rem;
    padding: 3.5rem;
  }

  #percept a {
    margin-top: 2rem;
    padding: 15px 20px;
    background-color: #202020ee;
    color: #fff;
    border-radius: 0.6rem;
    text-decoration: none;
  }

  /* Section Businesses */
  #business {
    margin-top: 80px;
  }

  #businesses {
    width: 85%;
  }

  #businesses .subhead {
    font-size: 3.5rem;
  }

  #businesses .subtxt {
    font-size: 20px;
    margin-top: 20px;
  }

  #carbon {
    margin-top: 4rem;
    padding: 2rem 2rem 0;
    background-color: #f5f5f5;
    border-radius: 1rem;
  }
  
  #carbon #links {
    width: var(--width);
  }
  
  #carbon #links ul {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 5px 2.5rem 5px 2px;
    width: 90%;
  }
  
  #carbon #links ul li {
    width: fit-content;
    padding: 5px 10px;
    margin-left: 0;
    font-size: 15px;
  }

  #carbons {
    margin-top: 3rem;
    height: 724px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #carbons > div {
    width: 95%;
  }

  #carbons > div > h3 {
    font-size: 32px;
    margin: 20px 0;
  }
  
  #carbons > div > p {
    font-size: 16px;
    line-height: 1.4rem;
    margin: 20px 0 35px;
  }
  
  #carbons > div > a {
    color: #0055BA;
    font-size: 16px; 
  }

  #carbonimg {
    position: relative;
  }

  .carbonimg1 {
    scale: 0.8;
  }

  .carbonimg2 {
    position: absolute;
    top: 5px;
    left: 17rem;
    background-color: #fff;
    padding: 35px;
    border-radius: 50%;
    scale: 0.7;
  }

  /* Section Market */
  #market {
    padding: 100px 0;
  }

  #market > h2, #market > p {
    width: 95%;
  }

  #market h2 {
    font-size: 2.9rem;
  }

  #market > p {
    font-size: 20px;
    margin-top: 30px;
  }
  
  #quotes {
    display: flex;
    flex-direction: column;
    width: 88%;
    margin: auto;
  }
  
  #float {
    background-color: #f5f5f5;
    width: 100%;
    border-radius: 1rem;
    padding: 55px 35px 40px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .test {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  
  .quo {
    display: block;
    font-size: 5rem;
    font-style: italic;
    line-height: 1.5rem;
    padding-top: 15px;
  }
  
  .push {
    margin-top: 0px;
  }
  
  .details {
    padding: 15px;
  }
  
  .name {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .title {
    font-size: 13px;
    color: #606060;
  }

  /* Section Getting */
  #gettingstarted {
    background-image: url(../pics/getting-started-bg.jpg);
    padding: 90px 50px;
    width: var(--big-width);
  }

  #gettingstarted > h2 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 2.5rem;
  }
  
  #getting {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  #get1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    align-items: start;
    align-content: start;
    padding: 2rem 1.8rem 0 0;
    border-radius: 1rem;
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  #api {
    padding-bottom: 96px;
    width: 80%;
    margin: auto auto 6.5rem;
  }
  
  #get1 #api h2 {
    font-size: 32px;
    margin: 0px 0 15px;
  }
  
  #get1 #api a {
    font-size: 16px;
    color: #0055BA;
    text-decoration: none;
    margin-bottom: 5rem;
  }
  
  #get1 #getting_img {
    scale: 0.5;
    width: 50.5%;
    height: 50%;
    position: absolute;
    right: 8.4rem;
    bottom: 0.8rem;
  }

  #get2, #get3, #get4 {
    background-color: #fff;
    border-radius: 1rem;
    padding: 50px 50px;
    margin-bottom: 1.5rem;
  }

  #get2, #get3 {
    width: 48%;
  }

  #get4 {
    width: 100%;
  }
  
  #get2 h2, #get3 h2, #get4 h2 {
    font-size: 20px;
    margin: 10px 0 25px;
  }
  
  #get2 a, #get3 a, #get4 a {
    text-decoration: none;
    color: #0055BA;
    font-size: 14px;
  }

  /* Section Footer */
  footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: #000;
    width: var(--big-width);
    color: #fff;
    padding: 100px 40px 10px;
  }

  footer #container {
    width: var(--width);
    margin: auto;
    padding: 0px 40px 60px;
  }

  #start_building {
    color: #fff;
    text-align: center;
    width: 100%;
  }

  #start_building h1 {
    font-size: 3rem;
    margin-bottom: 15px;
  }
  
  #start_building > p {
    font-size: 18px;
    line-height: 2rem;
    width: fit-content;
    margin-bottom: 4rem;
  }
  
  #start_building div .btn_blue {
    margin-right: 15px;
  }
  
  #start_building div .btn_black {
    background-color: #202020;
    color: #fff;
  }

  #con2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 2.5rem;
    justify-content: space-between;
    width: 100%;
    padding: 5rem 0;
  }

  #fin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 26px;
  }

  #fin p > #monofin {
    display: block;
    margin: 10px 0 0px;
  }
}

@media screen and (max-width: 600px){
  :root {
    --width: 550px;
    --big-width: 600px;
    --font-size-1: 13px;
  }

  /* Utility classes */
  .btn_blue {
    font-size: var(--font-size-1);
    padding:  0.8rem 1.25rem;
    background-color: #0055BA;
    border-radius: 0.6rem;
    color: #fff;
  }

  .btn_black {
    font-size: var(--font-size-1);
    padding:  0.8rem 1.25rem;
    background-color: #f5f5f5;
    border-radius: 0.6rem;
    color: #000;
  }

  /* Navbar */
  #navbar {
    display: flex;
  }

  #navbar ul, #navbar .btn_blue{
    display: none;
  }

  /* Showcase */
  #showcase {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 4rem 0;
    position: relative;
  }

  #showtext {
  max-width: 100%;
}

  #showtext  .intro {
    display: inline-block;
    font-size: 13px;
    background-color: #f5f5f5;
    padding: 9px 10px;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  #showtext h1 {
    font-size: 2.5rem;
  }

  #showtext h3 {
    font-size: 1rem;
    font-weight: normal;
    margin: 1.8rem 0 2.5rem;
  }

  #showimg {
    display: none;
  }

  /* Trustees */
    #trustees {
    display: grid;
    grid-template-columns: repeat(2. auto);
    grid-template-rows: repeat(2. auto);
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
  }

  #trustees img {
    margin: 0 0rem 1rem 0;
  }

  /* Future */
  #future {
    margin-top: 3.5rem;
    width: 90%;
  }
  
  #future h2 {
  font-size: 3rem;
  margin: 1.8rem 1.5rem 3.5rem;
  }
  
  #future h3 {
    font-size: 1.4rem;
    margin: 1.8rem 1.5rem 3.5rem;
  }

  #services {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 1rem;
  }

  #connect {
    background-image: url('../pics/connect.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -16rem 0rem;
    width: var(--width);
    border-radius: 1rem;
    padding: 3.5rem 3rem 6rem;
    margin-bottom: 1rem;
  }

  #connect h2 {
    color: #fff;
    margin: 0.5rem 0 0.8rem;
    font-size: 45px;
  }
  
  #connect p {
    font-size: 18px;
    width: 60%;
    color: #fff;
    margin-bottom: 2.5rem;
  }
  
  #connect a {
    margin-top: 2rem;
    padding: 15px 20px;
    background-color: #ffffffce;
    color: #0055BA;
    border-radius: 1rem;
    text-decoration: none;
  }

  #directpay {
    background-image: url('../pics/directpay.jpg');
    width: 100%;
    height: 460px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1rem;
    background-position: 0% -8rem;
    padding: 3.5rem;
    margin-bottom: 2rem;
  }
  
  #percept {
    background-image: url('../pics/percept.png');
    color: #fff;
    width: 100%;
    height: 460px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1rem;
    background-position: 0% -8rem;
    padding: 3.5rem;
  }

  #percept a {
    margin-top: 2rem;
    padding: 15px 20px;
    background-color: #202020ee;
    color: #fff;
    border-radius: 0.6rem;
    text-decoration: none;
  }

  /* Section Businesses */
  #business {
    margin-top: 80px;
  }

  #businesses {
    width: 85%;
  }

  #businesses .subhead {
    font-size: 3.5rem;
  }

  #businesses .subtxt {
    font-size: 20px;
    margin-top: 20px;
  }

  #carbon {
    margin-top: 4rem;
    padding: 2rem 2rem 0;
    background-color: #f5f5f5;
    border-radius: 1rem;
  }
  
  #carbon #links {
    width: var(--width);
  }
  
  #carbon #links ul {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 5px 2.5rem 5px 2px;
    width: 100%;
  }
  
  #carbon #links ul li {
    width: fit-content;
    padding: 5px 10px;
    margin-left: 0;
    font-size: 15px;
  }

  #carbons {
    margin-top: 2rem;
    height: 866px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  #carbons > div {
    width: 95%;
  }

  #carbons > div > h3 {
    font-size: 32px;
    margin: 20px 0;
  }
  
  #carbons > div > p {
    font-size: 16px;
    line-height: 1.4rem;
    margin: 20px 0 35px;
  }
  
  #carbons > div > a {
    color: #0055BA;
    font-size: 16px; 
  }

  #carbonimg {
    position: relative;
  }

  .carbonimg1 {
    scale: 0.8;
  }

  .carbonimg2 {
    position: absolute;
    top: 5px;
    right: -14rem;
    background-color: #fff;
    padding: 35px;
    border-radius: 50%;
    scale: 0.7;
  }

  /* Section Market */
  #market {
    padding: 100px 0;
  }

  #market > h2, #market > p {
    width: 95%;
  }

  #market h2 {
    font-size: 2.9rem;
  }

  #market > p {
    font-size: 20px;
    margin-top: 30px;
  }
  
  #quotes {
    display: flex;
    flex-direction: column;
    width: 88%;
    margin: auto;
  }
  
  #float {
    background-color: #f5f5f5;
    width: 100%;
    border-radius: 1rem;
    padding: 55px 35px 40px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .test {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  
  .quo {
    display: block;
    font-size: 5rem;
    font-style: italic;
    line-height: 1.5rem;
    padding-top: 15px;
  }
  
  .push {
    margin-top: 0px;
  }
  
  .details {
    padding: 15px;
  }
  
  .name {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .title {
    font-size: 13px;
    color: #606060;
  }

  /* Section Getting */
  #gettingstarted {
    background-image: url(../pics/getting-started-bg.jpg);
    padding: 90px 50px;
    width: var(--big-width);
  }

  #gettingstarted > h2 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 2.5rem;
  }
  
  #getting {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  #get1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    align-items: start;
    align-content: start;
    padding: 2rem 1.8rem 0 0;
    border-radius: 1rem;
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  #api {
    padding-bottom: 96px;
    width: 80%;
    margin: auto auto 6.5rem;
  }
  
  #get1 #api h2 {
    font-size: 32px;
    margin: 0px 0 15px;
  }
  
  #get1 #api a {
    font-size: 16px;
    color: #0055BA;
    text-decoration: none;
    margin-bottom: 5rem;
  }
  
  #get1 #getting_img {
    scale: 0.5;
    width: 50.5%;
    height: 50%;
    position: absolute;
    right: 8.4rem;
    bottom: -0.1rem;
  }

  #get2, #get3, #get4 {
    background-color: #fff;
    border-radius: 1rem;
    padding: 50px 50px;
    margin-bottom: 1.5rem;
  }

  #get2, #get3 {
    width: 48%;
  }

  #get4 {
    width: 100%;
  }
  
  #get2 h2, #get3 h2, #get4 h2 {
    font-size: 20px;
    margin: 10px 0 25px;
  }
  
  #get2 a, #get3 a, #get4 a {
    text-decoration: none;
    color: #0055BA;
    font-size: 14px;
  }

  /* Section Footer */
  footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: #000;
    width: var(--big-width);
    color: #fff;
    padding: 100px 40px 10px;
  }

  footer #container {
    width: var(--width);
    margin: auto;
    padding: 0px 40px 60px;
  }

  #start_building {
    color: #fff;
    text-align: center;
    width: 100%;
  }

  #start_building h1 {
    font-size: 3rem;
    margin-bottom: 15px;
  }
  
  #start_building > p {
    font-size: 18px;
    line-height: 2rem;
    width: fit-content;
    margin-bottom: 4rem;
  }
  
  #start_building div .btn_blue {
    margin-right: 15px;
  }
  
  #start_building div .btn_black {
    background-color: #202020;
    color: #fff;
  }

  #con2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 2.5rem;
    justify-content: space-between;
    width: 100%;
    padding: 5rem 0;
  }

  #fin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 26px;
  }

  #fin p > #monofin {
    display: block;
    margin: 10px 0 0px;
  }
}

@media screen and (max-width: 500px){
  :root {
    --width: 450px;
    --big-width: 500px;
    --font-size-1: 13px;
  }

  /* Utility classes */
  .btn_blue {
    font-size: var(--font-size-1);
    padding:  0.8rem 1.25rem;
    background-color: #0055BA;
    border-radius: 0.6rem;
    color: #fff;
  }

  .btn_black {
    font-size: var(--font-size-1);
    padding:  0.8rem 1.25rem;
    background-color: #f5f5f5;
    border-radius: 0.6rem;
    color: #000;
  }

  /* Navbar */
  #navbar {
    display: flex;
  }

  #navbar ul, #navbar .btn_blue{
    display: none;
  }

  /* Showcase */
  #showcase {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 4rem 0;
    position: relative;
  }

  #showtext {
  max-width: 100%;
}

  #showtext  .intro {
    display: inline-block;
    font-size: 13px;
    background-color: #f5f5f5;
    padding: 9px 10px;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  #showtext h1 {
    font-size: 2.5rem;
  }

  #showtext h3 {
    font-size: 1rem;
    font-weight: normal;
    margin: 1.8rem 0 2.5rem;
  }

  #showimg {
    display: none;
  }

  /* Trustees */
    #trustees {
    display: grid;
    grid-template-columns: repeat(2. auto);
    grid-template-rows: repeat(2. auto);
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
  }

  #trustees img {
    margin: 0 0rem 1rem 0;
  }

  /* Future */
  #future {
    margin-top: 3.5rem;
    width: 90%;
  }
  
  #future h2 {
  font-size: 3rem;
  margin: 1.8rem 1.5rem 3.5rem;
  }
  
  #future h3 {
    font-size: 1.4rem;
    margin: 1.8rem 1.5rem 3.5rem;
  }

  #services {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 1rem;
  }

  #connect {
    background-image: url('../pics/connect.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -24.5rem 1.5rem;
    width: var(--width);
    border-radius: 1rem;
    padding: 3.5rem 3rem 6rem;
    margin-bottom: 1rem;
  }

  #connect h2 {
    color: #fff;
    margin: 0.5rem 0 0.8rem;
    font-size: 45px;
  }
  
  #connect p {
    font-size: 18px;
    width: 60%;
    color: #fff;
    margin-bottom: 2.5rem;
  }
  
  #connect a {
    margin-top: 2rem;
    padding: 15px 20px;
    background-color: #ffffffce;
    color: #0055BA;
    border-radius: 1rem;
    text-decoration: none;
  }

  #directpay {
    background-image: url('../pics/directpay.jpg');
    width: 100%;
    height: 460px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1rem;
    background-position: 0% 0rem;
    padding: 3.5rem;
    margin-bottom: 2rem;
  }
  
  #percept {
    background-image: url('../pics/percept.png');
    color: #fff;
    width: 100%;
    height: 460px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1rem;
    background-position: 0% 0rem;
    padding: 3.5rem;
  }

  #percept a {
    margin-top: 2rem;
    padding: 15px 20px;
    background-color: #202020ee;
    color: #fff;
    border-radius: 0.6rem;
    text-decoration: none;
  }

  /* Section Businesses */
  #business {
    margin-top: 80px;
  }

  #businesses {
    width: 85%;
  }

  #businesses .subhead {
    font-size: 3.5rem;
  }

  #businesses .subtxt {
    font-size: 20px;
    margin-top: 20px;
  }

  #carbon {
    margin-top: 4rem;
    padding: 2rem 2rem 0;
    background-color: #f5f5f5;
    border-radius: 1rem;
  }
  
  #carbon #links {
    width: var(--width);
  }
  
  #carbon #links ul {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 5px 2.5rem 5px 2px;
    width: 90%;
  }
  
  #carbon #links ul li {
    width: fit-content;
    padding: 5px 10px;
    margin-left: 0;
    font-size: 15px;
  }

  #carbons {
    margin-top: 2rem;
    height: 866px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  #carbons > div {
    width: 95%;
  }

  #carbons > div > h3 {
    font-size: 32px;
    margin: 20px 0;
  }
  
  #carbons > div > p {
    font-size: 16px;
    line-height: 1.4rem;
    margin: 20px 0 35px;
  }
  
  #carbons > div > a {
    color: #0055BA;
    font-size: 16px; 
  }

  #carbonimg {
    position: relative;
  }

  .carbonimg1 {
    scale: 0.8;
  }

  .carbonimg2 {
    position: absolute;
    top: 5px;
    right: -14rem;
    background-color: #fff;
    padding: 35px;
    border-radius: 50%;
    scale: 0.7;
  }

  /* Section Market */
  #market {
    padding: 100px 0;
  }

  #market > h2, #market > p {
    width: 95%;
  }

  #market h2 {
    font-size: 2.9rem;
  }

  #market > p {
    font-size: 20px;
    margin-top: 30px;
  }
  
  #quotes {
    display: flex;
    flex-direction: column;
    width: 88%;
    margin: auto;
  }
  
  #float {
    background-color: #f5f5f5;
    width: 100%;
    border-radius: 1rem;
    padding: 55px 35px 40px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .test {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  
  .quo {
    display: block;
    font-size: 5rem;
    font-style: italic;
    line-height: 1.5rem;
    padding-top: 15px;
  }
  
  .push {
    margin-top: 0px;
  }
  
  .details {
    padding: 15px;
  }
  
  .name {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .title {
    font-size: 13px;
    color: #606060;
  }

  /* Section Getting */
  #gettingstarted {
    background-image: url(../pics/getting-started-bg.jpg);
    padding: 90px 50px;
    width: var(--big-width);
  }

  #gettingstarted > h2 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 2.5rem;
  }
  
  #getting {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  #get1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    align-items: start;
    align-content: start;
    padding: 2rem 1.8rem 0 0;
    border-radius: 1rem;
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  #api {
    padding-bottom: 96px;
    width: 80%;
    margin: auto auto 6.5rem;
  }
  
  #get1 #api h2 {
    font-size: 32px;
    margin: 0px 0 15px;
  }
  
  #get1 #api a {
    font-size: 16px;
    color: #0055BA;
    text-decoration: none;
    margin-bottom: 5rem;
  }
  
  #get1 #getting_img {
    scale: 0.5;
    width: 50.5%;
    height: 50%;
    position: absolute;
    right: 8.4rem;
    bottom: -1.1rem;
  }

  #get2, #get3, #get4 {
    background-color: #fff;
    border-radius: 1rem;
    padding: 50px 50px;
    margin-bottom: 1.5rem;
    width: 100%;
  }
  
  #get2 h2, #get3 h2, #get4 h2 {
    font-size: 20px;
    margin: 10px 0 25px;
  }
  
  #get2 a, #get3 a, #get4 a {
    text-decoration: none;
    color: #0055BA;
    font-size: 14px;
  }

  /* Section Footer */
  footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: #000;
    width: var(--big-width);
    color: #fff;
    padding: 100px 40px 10px;
  }

  footer #container {
    width: var(--width);
    margin: auto;
    padding: 0px 40px 60px;
  }

  #start_building {
    color: #fff;
    text-align: center;
    width: 100%;
  }

  #start_building h1 {
    font-size: 3rem;
    margin-bottom: 15px;
  }
  
  #start_building > p {
    font-size: 18px;
    line-height: 2rem;
    width: fit-content;
    margin-bottom: 4rem;
  }
  
  #start_building div .btn_blue {
    margin-right: 15px;
  }
  
  #start_building div .btn_black {
    background-color: #202020;
    color: #fff;
  }

  #con2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 2.5rem;
    justify-content: space-between;
    width: 100%;
    padding: 5rem 0;
  }

  #fin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 26px;
  }

  #fin p > #monofin {
    display: block;
    margin: 10px 0 0px;
  }
}